
.nav-link:hover{
	background-color: lightskyblue;
	border-radius: 10px;
}
.navbar-brand:hover{
	font-weight: bold
}

hr.rounded{
	border-top:8px solid lightblue;
	border-radius: 5px
}

.mydivstyle:hover{
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
	transform: translateY(-20px)
}